*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: lato, Helvetica, sans-serif;
  background: linear-gradient(to right, #d17608, #ec3503);
  padding: clamp(20px, 5vw, 50px) 20px 10px;
}

h1, .score,.advice {
  text-align: center;
  color: #f1f1f1;
}
h1 {
  font-family: Raleway;
  font-size: vlamp(25px,7vw,70px);
  font-weight: 300;
}
h1 span {
  font-weight: 800;
}
.advice {
  margin: 15px 0;
  font-size: clamp(16px,2.5vw,20px);
}
.score {
  font-size: clamp(16px,2.5vw,25px);
}
.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  /*grid-template-columns: repeat(auto-fill, 150px);*/
  max-width: 800px;
  gap: 10px;
  margin: 30px auto 0;
}
.card {
  aspect-ratio: 1/1;
  perspective: 1000px;
  cursor: pointer;
  user-select: none;
  transition: transform 0.2s ease-out;
}
.card:hover {
  transform: scale(1.02);
}
.double-face {
  position:relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  will-change: transform;
  transition:transform .6s;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.double-face.active {
  transform: rotateY(180deg);
}

.face,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.face {
  transform: rotateY(180deg);
}
.face img,
.back img {
  width: 60%
}

.win {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8 );
  width: 100%;
  height: 100vh;
  padding: 50px;
  display: none;
}
.win.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
.win p {
  text-align: center;
  font-size: 35px;
  font-weight: 900;
  color: #444;
}